venv/
__pycache__/
*.pyc
*.log
*.DS_Store

# Ignore all files in the data folder
/data/*

# Allow image files in the data folder to be tracked
!/data/**/*.jpg
!/data/**/*.jpeg
!/data/**/*.png
!/data/**/*.bmp
!/data/**/*.tiff
!/data/**/*.webp

# Ignore all files in the checkpoints folder
/checkpoints/*

# Ignore all files in the runs folder
/runs/*

# Ignore all files in the results folder
/results/*